/********************************Time Line**********************************/
.time-line> .row
{
	margin-left:20px; 
	
}

.time-line> .row > .col-md-3
{
	color: #999;font-size: 25px;
}

.time-line>.row> .col-md-9
{
	border-left: solid 4px #ccc; padding-left:5px;
}

.time-line>.row> .col-md-9 > p > a
{
	color:#000; font-size:14px;
}

.time-line> hr
{
	font-size:20px; border-style:dotted; border-top-width:medium;
}
/*****************************Back to Top************************************/
#toTop {
	    width:100px;
        border:1px solid #ccc;
        background:#f7f7f7;
        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        bottom:10px; /* together with this to put the div at the bottom*/
        right:10px;
        cursor:pointer;
        display:none;
        color:#333;
        font-family:verdana;
        font-size:14px;
}